
.container1{
	background-color: lightgreen;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
	font-style: italic;
	color: indigo;
}

.footer{
	background-color: skyblue;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.custom-date-field {
  font-family: Arial, Sans-serif;
  border: 1px solid #dddddd;
  padding: 20px;
  font-size: 12px;
  margin-bottom: 30px;
}

.custom-date-field input {
  background-color:#e4ebef;
  border: none;
  padding: 5px 10px;
 }

.custom-date-field span {
  display: block;
  font-size: 12px;
}

.custom-date-field label {
  width: 30%;
  display: inline-block;
  float: left;
  font-size: 18px;
}
body{
	background-color: silver;
}
.jumbotron{
	background-color: lightblue;
	text-align: center;
	font-weight: 14px;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	color: indigo;
}
